<style scoped>
  li {
    list-style-type: none;
    font-size: 14pt;
    margin: 15px;
  }
  .item-prop { margin-right: 10px}
  .item-name {
    font-weight: bold;
  }
  .item-available {
    font-weight: bold;
    color: green;
  }
  .item-out-of-stock{
    font-weight: bold;
    color: red;
  }
</style>

<template>
  <div>
    <h1 class="title">Vue Products Listing</h1>
    <h2 id="performance">
      Performance: {{ Math.round(render_time) }} miliseconds
    </h2>
    <ul id="products">
      <li v-for="(item, index) in products" :key="index">
        <span class="item-prop item-name">{{ item.name }}</span>
        <span class="item-prop">{{ item.price }}€</span>
        <span class="item-prop" v-if="item.discount != 0">- {{ item.discount }}%</span>
        <span class="item-prop item-available" v-if="item.available">available</span>
        <span class="item-prop item-out-of-stock" v-if="!item.available">out of stock</span>
      </li>
    </ul>
  </div>
</template>

<script>
  const INITIAL_TIME = performance.now();
  const MAX_PRODUCTS = 10000;

  let products = [
    {
      name: 'Red stripped coat',
      price: 80,
      discount: 5,
      available: true
    }, {
      name: 'Leopard skin pants',
      price: 45,
      discount: 0,
      available: true
    }, {
      name: 'Tonny Hawk shoes',
      price: 50,
      discount: 10,  
      available: false
  }]

  for (let i = 0; i < MAX_PRODUCTS; i++ ){
    products.push({
      name: 'Funny yellow tie',
      price: 20,
      discount: 3,
      available: true
    })
  }

  export default {
    name: 'product-list',
    data: () => ({ 
      products,
      render_time: 0
    }),
    mounted: function(){
      this.render_time = (performance.now() - INITIAL_TIME)
    }
  }
</script>